.back-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  cursor: pointer;
  z-index: 1000; /* Ensure it's above other elements */
}

/* Add additional styling for the icon if needed */
.back-to-top svg {
  fill: #ffffff; /* Change the color as needed */
  transition: fill 0.3s ease-in-out; /* Optional: Add a transition effect */
}

.back-to-top:hover svg {
  fill: #ff0000; /* Change the color on hover if desired */
}

/* Add this CSS to your stylesheet or inline style */
.lot-info-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* semi-transparent background */
  color: white;
  opacity: 0;
  transition: opacity 0.3s ease;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.lot-image-container:hover .lot-info-overlay {
  opacity: 1;
}

.lot-info-overlay p {
  margin: 5px;
}

.nav-link:hover {
  color: #28a745 !important; /* Change this to your desired hover color */
}

.background-container {
  background-image: url("https://images.unsplash.com/photo-1566732500818-d76031ac0421?q=80&w=1750&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
